.chat {
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	justify-content: space-between;
	background: #f5f5f5f0;
	height: fit-content;
}

.separated {
	margin: 20px; /* Aggiunge uno spazio tra i div */
}

.clickable-div {
	background: none;
	border: none;

	cursor: pointer;
	width: 100%;
	text-align: left;
}

.clickable-div .chat-header {
	padding: 10px;
	border-radius: 5px 5px 0 0;
}

.expanded {
	height: 400px; /* Altezza espansa del div */
}



.fixed-footer {
	display: flex;
	flex-direction: line;
	padding: 10px;
}

.chat-button {
	padding: 20px;
}

.add-chat {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.add-chat input {
  padding: 8px;
  border: 1px solid var(--border);
  border-radius: 4px;
}

.add-chat button {
  padding: 8px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-chat button:hover {
  background-color: #2563eb;
}