.home {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle at -200px 230px, #f2f2fa 0%, #00115080 85%, #001150 100%);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.undernavbar {
  flex: 1;
  width: 100vw;
  display: flex;
  height: calc(100vh - 50px);
}

.expandable-sidebar-container {
  display: flex;
  height: 100%;
  transition: width 0.3s;
}

.sidebar {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.content {
  border-top-left-radius: 12px;
  background-color: rgba(1, 25, 78, 0.05);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  width: 100%;
  padding: 10px;
  gap: 10px;
  overflow-y: auto;
}

p {
  all: unset;
}

.btn-square {
    width: 40px; /* Imposta una larghezza fissa */
    height: 40px; /* Imposta un'altezza fissa */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 8px; /* Rende il pulsante rotondo */
}

.task-container {
  flex: 1 1 45%;
  min-width: 300px;
  max-width: 100%;
  border-radius: 8px;
}

.profile {
  flex: 1 1 100%;
  min-width: 300px;
  max-width: 100%;
  border-radius: 8px;
}

.logo-image {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.propic-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.propic-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2px;
}